@font-face {
  font-family: 'MilkyWalky'; /* This is the name you'll reference the font with */
  src: url('fonts/milky-walky/MilkyWalky-Regular.otf') format('opentype'); /* Path to the .otf font file */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FBF5E6 !important;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 1000; /*header zostane on top a stranka bude skrolovana popod nu*/
  justify-content: space-between;
  align-items: center;
  background-color: #a2c6d2;
  padding: 10px 20px;
  height: 60px
}

.bi { /*velkost ikoniek*/
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: bold;
}

.bi-list { /*velkost ikonky triciarky*/
  font-size: 30px;
  padding-left: 10px;
}

.bi-person {
  font-size: 25px;
}

.icon_click:hover {
  color: #26769C;
}

.logo-container img {
  height: 30px;
  width: auto;
  position: relative;
  top: -7px;
}

.banner-container {
  margin-top: 60px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end; /*so the search bar is on the right*/
}

.overlay-text { /*formatovanie nazvu eshopu*/
  font-family: 'MilkyWalky';
  position: absolute;
  top: 15%;  
  left: 50%; 
  transform: translate(-50%, -50%); /* vycentrovanie */
  color: lightcyan;  
  font-size: 9vw; /* Bude sa velkost dynamicky menit podla velkosti stranky */
}

.banner-text {
  position: absolute;
  left: 9vw; 
  top: 105%;
  transform: translateY(-50%); 
  
  width: 42vw;
  height: 12vw; 
  
  background-color: #C4E3E8; 
  border-radius: 10px; 

  display: flex;
  justify-content: center; 
  align-items: center; 
}

.text_on_banner {
  font-style: italic;
  color: black; 
  font-size: 2vw; 
  font-weight: lighter; 
  text-align: center;
  width: 30vw;
}

/* search bar */
.search-bar {
  display: flex;
  border: 0.1vw solid white;
  border-radius: 1.8vw;
  width: 22vw;
  position: absolute;
  margin: 2vw;
  justify-content: space-between;
}

.bi-search {
  font-size: 1.9vw;
  color: white;
  margin-right: 1vw;
}

.search-bar input {
  border: none;
  background-color: transparent;
  font-size: 1.8vw;
  font-weight: 100;
  color: white;
  padding-left: 1vw;
  width: 80%;
}

/* acting of searchbar */
.search-bar input::placeholder {
  color: white;
  opacity: 65%;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}


/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  margin: 10.5vw 10vw 0vw 10vw;
  align-items: center;
  gap: 5vw;
}

.nav h2 {
  font-size: 2vw;
  font-weight: lighter;
  text-transform: uppercase;
  padding: 0.3vw 1.3vw;
  border: 1px solid #FBF5E6;
  border-radius: 0.5vw;
}

.nav h2:hover {
  color: #26769C;
  border: 1px solid #26769C;
  border-radius: 0.8vw;
}

.product_left {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.surfboard_products {
  display: flex;
  gap: 2vw;
  justify-content: baseline;
  flex-direction: column;
}

.pretty-box {
  position: absolute;
  right: 0;
  padding: 1vw;
  margin: 4vw 5vw 0 0;
}

.surfboard_button {
  display: flex;
}

.pretty-text {
  font-family: 'MilkyWalky';
  font-size: 9vw;
  color: #26769C;
}

.pretty-box-reverse {
  position: absolute;
  margin: 3vw 4vw 0 24vw;
}

.surfboard_picture {
  height: 40vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 10px;
}

.surfboard_product {
  height: 25vw;
  width: 18vw;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 2vw;
}

.custom-btn {
  margin-left: 2vw;
  width: 8vw;
  height: 4vw;
  background-color: #26769C;
  border: none;
  border-radius: 0.6vw;
  font-size: 2vw;
  color: white;
  font-weight: 2px;
}

.custom-btn:hover, .equipment-custom-btn:hover {
  background-color: #28576E;
}

/*Flipped layout*/
.product_right {
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-direction: row-reverse; /* Flips the layout order */
  margin: 10vw 0 10vw 0;
}

.equipment_product {
  height: 25vw;
  width: 18vw;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 2vw;
}

.equipment_picture {
  height: 40vw;
  width: 25vw;
  object-fit: cover;
  border-radius: 10px;
}

.equipment_products {
  display: flex;
  gap: 2vw;
  justify-content: baseline;
  flex-direction: column;
}

.equipment-custom-btn {
  width: 8vw;
  height: 4vw;
  background-color: #26769C;
  border: none;
  border-radius: 0.6vw;
  font-size: 2vw;
  color: white;
  font-weight: 2px;
}

.darker:hover {
  filter: brightness(80%);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #26769C;
  color: white;
  min-height: 200px;  /* Ensures it's never too small */
  max-height: 28vh; 
  padding: 2vw 0; 
  width: 100%;
  margin-top: 5vw;
}

.footer_heading {
  font-size: 2vw;
}

.footer-info {
  text-align: left;
  font-size: 1.5vw;
  margin-left: 4vw;
  font-weight: 300;
}

.footer-box {
  margin: 0 3vw;
  width: 30%;
  text-align: center;
}

.share-info {
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
}

.share {
  font-size: 2.5vw;
  margin-left: 0.5vw;
}