@font-face {
    font-family: 'MilkyWalky'; /* This is the name you'll reference the font with */
    src: url('fonts/milky-walky/MilkyWalky-Regular.otf') format('opentype'); /* Path to the .otf font file */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    height: 100%;
    font-family: 'MilkyWalky', sans-serif;
    /* background-color: #FFF0CB; */
    background-color: #FBF5E6 !important;
    padding-top: 90px;
    overflow-x:hidden; /*zakaz posuvania na x-osi*/
  }
/* HEADER */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1000;/*header zostane on top a stranka bude skrolovana popod nu*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a2c6d2;
  }

  .bi { /*velkost ikoniek*/
    font-size: 23px;
    font-weight: bold
  }
  
  .bi-list { /*velkost ikonky triciarky*/
    font-size: 30px;
    padding-left: 10px;
  }
  
  .bi-person {
    font-size: 25px;
    color: black;
  }

  .icon_click:hover {
    color: #26769C;
  }

  .logo-container img {
    height: 30px;
    width: auto;
    position: relative;
    top: -7px;
  }

  .icons a{
    text-decoration: none;  
    color: inherit;          
    font: inherit; 
  }

  .link_neviditelny{
    color: rgba(255, 255, 255, 0);
  }
/* PRODUCT OVERVIEW */
.product-overview-container {
  position: fixed;
  top: 60px; /* Below header */
  left: 0;
  background-color: #ffffff;
  padding: 20px;
  z-index: 999;
  transform: translateX(-100%); /* Start off-screen to the left */
  transition: transform 0.3s ease-in-out; /* Smooth sliding */
}
.thin {
  font-weight: 100;
}

/* REFERENCES */
.product-overview-container a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
/* Class to show the container by sliding it in */
.product-overview-container.visible {
  transform: translateX(0); /* Slide to visible position */
}
.product-overview {
  max-width: 1200px;
  height: fit-content;
  margin: 1vw 0 0 1vw;
}

/* For phones (100% width and height on mobile) */
@media (max-width: 480px) {
  .product-overview-container {
    width: 100vw; /* Full width on mobile */
    height: 100vh; /* Full height on mobile */
  }
}

/* For larger screens (Desktop view stays fixed) */
@media (min-width: 481px) {
  .product-overview-container {
    width: 500px; /* Fixed width */
    height: 100%; /* Fixed height */
  }
}

.category {
  margin-bottom: max(1.5vw, 20px);
}

.category:hover {
  color: #26769C;
}

.product-overview ul ul li {
  cursor: pointer;
  margin-bottom: 0.5vw;
}

.product-overview ul ul li:hover {
  color: #26769C;
}

/* acting of product overview */
.product-overview ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes left padding */
}

.product-overview li {
  cursor: pointer; /* Makes it clear that the items are clickable */
}

/* Move subcategories to the right */
.product-overview ul ul {
  margin-left: 20px; /* Adjust the margin to move the subcategories */
  margin-bottom: max(1.5vw, 20px);
}

/* FILTER  */
.filter-sidebar {
  position: absolute;
  /* overflow-y: auto; */
  top: 60px;
  right: -320px;
  width: 320px;
  height: auto;
  background: white;
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 1001;
} 
.overlay{
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; 
}

.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

.close-btn {
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close-btn:hover{
  color:#26769C;
}

.selected-filters {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.filter-chosen {
  padding: 1px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ddd;
  cursor: default;
}

.remove-filter {
  cursor: pointer;
}
.price_filter{
  font-weight: bold;
  display: block;
  text-align: left;
  width: 100%;
  font-size: 17px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 15px;
}
.range-slider {
  width: 100%;
  cursor: pointer;
}

.category_filter {
  list-style-type: none;
  font-size: 17px;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-weight: bold;
}
.category_filter li{
  font-weight: normal;
  padding-top: 3px;
  padding-left: 15px;
  font-size: 15px;
}

.koniec_filter{
  width: 100%;
  height: 40px;
  background-color: #26769C;
  color: white; 
  border: none;
  border-radius: 7px;
  padding: 7px;
  text-transform: uppercase;
  cursor: pointer;
}
.koniec_filter:hover {
    font-weight: bold;
}

input[type="checkbox"] {
  appearance: none; 
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color:#26769C; 
  border-color:#26769C;     
}


/* NAZOV NADPIS */
  .overlay-text { 
    font-family: 'MilkyWalky';
    position: absolute;
    top: 10%;
    left: 50%; 
    z-index: 1000;
    transform: translate(-50%, -50%); /* vycentrovanie */
    color: #26769C;
    /* color: #26769C; */
    font-size: min(10vw, 80px); 
  }

  .overlay-text a {
    text-decoration: none;  
    color: inherit;          
    font: inherit;           
  }



/* .background_section {
  position:absolute;
  top: 0;
  width:100%;
  height: 300px; 
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1) 100%), 
                    url('images/surf images videos/vlnky_2.jpg'); 
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(0px)
} */

/* NAVBAR */
nav {
  margin-top: 50px;  
}

.navbars {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.button_navbar {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #26769C; 
    border: none;
    border-radius: 7px;
    padding: 7px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.button_navbar:hover {
      background-color: #26769C;
      color: white;
}


.button_navbar_2{
  width: 170px;
  height: 35px;
  background-color: whitesmoke;
  color: #66aaca; 
  border: 1px solid #66aaca;
  border-radius: 7px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  text-transform: uppercase;
  cursor: pointer;
}
.button_navbar_2:hover {
  background-color: #66aaca;
  font-weight: bold;
  color: white;
}
.dropdown-menu {
  width: 100% ;
}

/* search bar */
.search-bar {
  display: flex;
  border: 0.2vw solid #26769c;
  border-radius: 1.8vw;
  margin: 2vw;
  margin-left: auto;
  width: 20vw;
  justify-content: space-between;
  min-width: 200px;
  max-width: 650px;
  height: 3vw;
  min-height: 30px;
  max-height: 50px;
  padding: 0.3vw;
  box-shadow: 0 0 5px rgba(38, 118, 156, 0.6);
  background-color: white;
}

.bi-search {
  font-size: clamp(14px, 2vw, 25px);
  color: #26769C;
  margin-right: 1vw;
  align-self: center;
}

.bi-search:hover{
  transform: scale(1.2); /* zvacsi o 20% */
  transition: transform 0.2s ease-in-out; /* plynuly prechod */
}

.search-bar input {
  border: none;
  background-color: transparent;
  font-size: clamp(12px, 1.8vw, 20px);
  font-weight: 100;
  color: #26769C;
  padding-left: 1vw;
  width: 80%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.search-bar input:focus {
  outline: none; 
}
/* PRODUKT */
.produkt-ikonky{
  position: absolute;
  top: 10px; 
  right: 10px; 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-ikonka {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.342); 
  border: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* kruh */
  color: #26769C;
}

.button-ikonka:hover {
    background-color: #ffffff; 
    color: #26769C; 
    border: 1px solid #26769C; 
}

.darker:hover {
  filter: brightness(90%);
}

.text_produkt {
  font-size: clamp(15px, 2.5vw, 20px);
}

.text_cena {
  font-size: clamp(12px, 2.5vw, 15px);
}
/* CISELNIK STRANKOVANIA */
.strankovanie {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 10px;
}

.strankovanie_sipka {
  background-color: #66aaca;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
}

.stranka {
  padding: 7px 7px;
  text-decoration: none;
  color: #66aaca;
  border: 1px solid #66aaca;
  border-radius: 7px;
  font-weight: bold;
}

.stranka:hover,  
.strankovanie_sipka:hover{
  background-color: #26769C;
  border:#26769C;
  color: white;
}

.stranka.active{
  background-color: #66aaca;
  color: white;
}

.dots {
  color: #66aaca;
  padding: 0 5px;
}


  /*footer*/
.footer {
    background-color: #26769C;
    color: white;
    min-height: 200px;  
    padding: 4vw 0; 
    width: 100%;
    margin-top: 10vw;
  }
  
  .footer_heading {
    font-size: clamp(15px, 2.5vw, 40px);
  }
  
  .footer-info {
    text-align: center;
    font-size: clamp(13px, 1.7vw, 40px);
    font-weight: 300;
  }
  
  .share {
    font-size: clamp(13px, 1.7vw, 40px);
    margin-left: 0.5vw;
  }


