@font-face {
    font-family: 'MilkyWalky'; /* This is the name you'll reference the font with */
    src: url('fonts/milky-walky/MilkyWalky-Regular.otf') format('opentype'); /* Path to the .otf font file */
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    height: 100%;
    font-family: 'MilkyWalky', sans-serif;
    background-color: #FBF5E6 !important; 
    padding-top: 90px;
    overflow-x:hidden; /*zakaz posuvania na x-osi*/
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1000;/*header zostane on top a stranka bude skrolovana popod nu*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #a2c6d2;
  }

  .bi { /*velkost ikoniek*/
    font-size: 23px;
    font-weight: bold
  }
  
  .bi-list { /*velkost ikonky triciarky*/
    font-size: 30px;
    padding-left: 10px;
  }
  
  .bi-person {
    font-size: 25px;
    color: black;
  }

  .logo-container img {
    height: 30px;
    width: auto;
    position: relative;
    top: -7px;
  }

  .overlay-text { 
    font-family: 'MilkyWalky';
    position: absolute;
    top: 10%;
    left: 50%; 
    z-index: 1000;
    transform: translate(-50%, -50%); /* vycentrovanie */
    color: #26769C;
    /* color: #26769C; */
    font-size: min(10vw, 80px); 
  }

  .homepage_link{
    color: rgba(255, 255, 255, 0);
  }
  /*  */

  .container{
    margin-top: 20px;
  }
  .profile-img {
    border-radius: 10%;
    width: 100%;
    border: 2px solid #26769C;
  }
  .edit_profile_btn{
    width: 100%;
    height: auto;
    background-color: #66aaca;
    color: #ffffff; 
    border: none;
    border-radius: 7px;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .edit_profile_btn:hover{
    background-color: #26769C;
    font-weight: bold;
  }
  .odhlasit_btn{
    width: 100%;
    height: 40px;
    background-color: #fcbd1d;
    color: #ffffff; 
    border: none;
    border-radius: 7px;
    padding: 7px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .odhlasit_btn:hover{
    background-color: #c48d00;
  }

  .card.my_card {
    border: 2px solid #c48d00;
    border-radius: 7px;
    background-color:#FBF5E6; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
  /* historia */

  .product_order_image{
    width: clamp(50px, 15vw, 150px);
    height: auto;
    /* object-fit: cover; */
    border-radius: 5px;
    margin-right: 15px;
  }

  .order_title {
    font-size: 21px;
    font-weight: bold;
    color: #26769C;
    margin: 0;
  }

  p.order_details {
    font-size: clamp(12px, 2.4vw, 17px);
    color: #555;
    margin-left: 0;
  }

  .list-group-item {
    position: relative;
  }
  .badge {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
/* RECOMMENDED SLIDER */
.recommended {
  margin-top: 3vw;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.recommended-product {
  height: 25vw;
width: 18vw;
object-fit: cover;
border-radius: 10px;
display: block;
}

.image-block {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  /* top: 0px; 
  left: 10px; 
  width: 3vw;  */
  transform: rotate(90deg);
  top: 1.3vw;
  left: 1vw;
  height: 2.8vw;
  width: auto;

}

.recommend-text {
  font-weight: 100;
  align-self: flex-start;
  margin: 0 0 2vw 5vw;
  font-size: 2.3vw;
}

.recommended-slider {
  display: flex;
  justify-content: center;
  gap: 1vw;
  width: max-content;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}





  .motivation{
    position: relative;
    margin-top: 40px;
    text-align: center;
    width: 100vw; 
    height: 100%;
    /* overflow: hidden; */
}

.motivation_img {
  width: 100%;
  height: 100%;
    /* object-fit: cover; */
}

.citat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    font-size: clamp(10px, 5vw, 50px);
    color: white;
    background: rgba(0, 0, 0, 0.3); /* Polopriehľadné pozadie pre lepšiu čitateľnosť */
    border-radius: 5px;
    font-family: 'MilkyWalky';
}


    /*footer*/
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #26769C;
    color: white;
    min-height: 200px;  
    max-height: 28vh; 
    padding: 2vw 0; 
    width: 100%;
    margin-top: 0vw;
  }
  
  .footer_heading {
    font-size: 2vw;
  }
  
  .footer-info {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 300;
  }
  
  .footer-box {
    margin: 0 3vw;
    width: 30%;
    text-align: center;
  }
  
  .share-info {
    text-align: center;
    font-size: 1.5vw;
    font-weight: 300;
  }
  
  .share {
    font-size: 2.5vw;
    margin-left: 0.5vw;
  }
  
  